<!-- Modal de Configurações -->
<section class="modalConfiguracoes">
    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content text-bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title" id="settingsModalLabel">Configurações</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-3">
                                <nav class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="link-light nav-link active" id="v-pills-theme-tab" data-bs-toggle="pill" href="#v-pills-theme" role="tab" aria-controls="v-pills-theme" aria-selected="true">Aparência</a>
                                    <a class="link-light nav-link" id="v-pills-account-tab" data-bs-toggle="pill" href="#v-pills-account" role="tab" aria-controls="v-pills-account" aria-selected="false">Conta</a>
                                    <a class="link-light nav-link" id="v-pills-notifications-tab" data-bs-toggle="pill" href="#v-pills-notifications" role="tab" aria-controls="v-pills-notifications" aria-selected="false">Recursos</a>
                                    <a class="link-light nav-link" id="v-pills-language-tab" data-bs-toggle="pill" href="#v-pills-language" role="tab" aria-controls="v-pills-language" aria-selected="false">Idioma</a>
                                </nav>
                            </div>
                            <div class="col-9">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-theme" role="tabpanel" aria-labelledby="v-pills-theme-tab">
                                    <h5 class="text-light mb-4 text-center">Configurações de Aparência</h5>
                                        <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input me-3" id="lightMode">
                                        <label class="form-check-label" for="lightMode">Modo claro</label>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-account" role="tabpanel" aria-labelledby="v-pills-account-tab">
                                    <h5 class="text-light mb-4 text-center">Configurações de Conta</h5>
                                        <div class="mb-3">
                                            <label for="username" class="form-label fw-bold">Nome de usuário:</label>
                                            </br>
                                            USER_NAME
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" class="form-label fw-bold">Email:</label>
                                            </br>
                                            USER_EMAIL
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-notifications" role="tabpanel" aria-labelledby="v-pills-notifications-tab">
                                    <h5 class="text-light mb-4 text-center">Configurações de Recursos</h5>
                                    <div class="mb-3">
                                    <label for="notifications" class="form-label">Notificações</label>
                                        <select class="form-select" id="notifications">
                                            <option value="enabled">Ativado</option>
                                            <option value="disabled">Desativado</option>
                                        </select>
                                    </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-language" role="tabpanel" aria-labelledby="v-pills-language-tab">
                                        <h5 class="text-light mb-4 text-center">Configurações de Idioma</h5>
                                        <div class="mb-3">
                                        <label for="language" class="form-label">Idioma</label>
                                            <select class="form-select" id="language">
                                                <option value="pt">Português</option>
                                                <option value="en">Inglês</option>
                                                <option value="es">Espanhol</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>